{% extends 'base.html.twig' %}

{% block body_id 'serie_serie_show' %}

{% block main %}
    <h1>Série</h1>

    <h3 class="post-metadata">
        <span class="metadata">{{ serie.nom }}</span>
        {#<span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>#}
    </h3>

tata

    {% for imageObjet in serie.listeImages %}
    <div>
        toto
        <img src="/images/{{ imageObjet.cheminFichier }}" alt="">
    </div>
    {% else %}
        titi
        <div class="well">Aucune image trouvée</div>
    {% endfor %}
tutu


    <br>
    <div class="well">
        <h2 class="m-b-0"><strong>Résumé</strong></h2> <br>
        <p>{{ serie.resume }}</p>
    </div>

    {#{{ serie.content|md2html }}#}

    {#{{ include('blog/_post_tags.html.twig') }}#}
{% endblock %}

{% block sidebar %}
    <div class="section">
        {#<a href="{{ path('serie_edit', {id: serie.id}) }}" class="btn btn-lg btn-block btn-success">#}
            {#<i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}#}
        {#</a>#}
    </div>

    <div class="section">
        {#{{ include('admin/serie/_delete_form.html.twig', {serie: serie}, with_context = false) }}#}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}

